:root {
    --black: #000000;
    --white: #ffffff;
    --dark-gray: #1e1e1e;
    --very-dark-navy-blue: #222831;
    --midnight-slate: #272e37;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--dark-gray);
    color: var(--white);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
